._editBtn._editBtn {
  --color2: var(--active-color) !important;
  // --color2: currentColor !important;

  svg {
    width: 1.2em !important;
    height: 1.2em !important;
  }
}

.u-warning {
  border-radius: 0;
  background-color: var(--bg-color);
}

.u-button {
  text-transform: initial;
  font-weight: 500;
}

.u-button_outline {
  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      border-color: transparent;
    }
  }
}

.u-button[disabled] {
  // background-color: var(--c-gris);
  // filter: none;
  color: var(--c-gris);
}

._reorderedList--item {
  background-color: transparent !important;
}

.u-button_pill {
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 1);
}

label,
.u-label {
  // font-weight: 500;
  font-size: var(--sl-font-size-medium);
  font-family: var(--sl-font-sans);
}

.u-displayAsPublic {
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  > * {
    padding: calc(var(--spacing) / 4);
    background-color: var(--h-500);
    margin-left: calc(var(--spacing) / 2);
  }
}

.u-button {
  > .b-icon {
    // only if there is text after the icon
    &:not(:last-child) {
      margin-right: calc(var(--spacing) / 2);
    }
  }
}

input[type="checkbox"] {
  border-width: 1px;
}

details {
  summary {
    cursor: pointer;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;

  // Webkit (Chrome, Safari, Edge)
  &::-webkit-slider-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #808080;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4.5px;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
  }

  // Firefox
  &::-moz-range-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
    border-radius: 0;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #808080;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
  }

  &::-moz-range-progress {
    background: #808080;
    height: 3px;
  }

  // Focus states
  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.2);
  }

  &:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.2);
  }
}
